@import 'font';

$html-font-size: 16px;

@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

$black: #000000;
$red: #D90000;
$white: #ffffff;
$gray: #EBEBF2;
$blue: #007a9c;
$gradient: radial-gradient(circle farthest-corner at 10% 20%, rgba(0, 152, 155, 1) 0.1%, rgba(0, 94, 120, 1) 94.2%);

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: rem(16px);
    line-height: 22px;
    color: $black;
    background-color: $white;
}

a {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-decoration: none;
}
h2{
    font-size: 48px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 3%;
    color: $white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
// Navbar
.navbar {
    margin-top: 1%;
    .navbar-brand {
        margin-left: 1%;
        font-family: Montserrat;
        font-size: 46px;
        color: $white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:hover {
            transform:rotate(20deg);
            transition: transform .8s ease-in-out;  
        }
    }
    ul li {
        font-size: 32px;
        font-weight: 700;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-right: 10px;

        a{
            color: $white;
            &:hover {
                color: $white;
                text-decoration: underline;
                text-underline-offset: 6px;
                transition: all 1s;
                -webkit-transition: all 1s;
            }
        }
    }
}

.top-header {
    min-height: 100vh;
    padding-top: 50px;
    background-image: $gradient;

    .autor-name {
        padding-top: 5%;
        padding-left: 7%;
        font-family: RobotoSlab-ExtraBold;
        font-size: 46px;
        color: $white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .my-photo {
        width: 20%;
        border: 5px solid $white;
        border-radius: 50%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        &:hover {
            filter: brightness(80%);
            -webkit-transition: all 1.8s ease;
            transition: all 1.8s ease;
            transform: scale(1.05);
            transition: 1s;
        }
    }

    .specialty-name {
        display: inline-block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 70px;
        line-height: 156px;
        color: #E8E8E8;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        letter-spacing: 0.02em;
        text-transform: capitalize;
        padding-left: 15px;
        padding-right: 15px;
    }
    .social-contact {
        margin-top: 3%;
        a {  
            width: 40px;
            height: 40px;
            margin-right: 20px; 
            display: flex;
            i {
                font-size: 36px;
                align-self:center;
                color: $white;
                transition: all 0.4s;
                -webkit-transition: all 0.4s;
                margin: 0 auto;
                &::before {
                    display:inline-block;
                    text-decoration:none;
                } 
            }
            &:hover {
                i {
                    transform: scale(1.1);
                }
            }
        }
    }
    .arrow-to-bottom {
        position: relative;
        cursor: pointer;
        margin:20px;
        margin-top: 5%;
        width: 66px;
        height: 30px;
        .arrow-to-bottom-left {
            position: absolute;
            background-color: transparent;
            top: 10px;
            left: 0;
            width: 40px;
            height: 10px;
            display: block;
            transform: rotate(35deg);
            float: right;
            border-radius: 2px;
            &::after{
                content: "";
                background-color: $white;
                width: 40px;
                height: 10px;
                display: block;
                float: right;
                border-radius: 6px 10px 10px 6px;
                transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
                z-index: -1;
            }
        }
        .arrow-to-bottom-right {
            position: absolute;
            background-color: transparent;
            top: 10px;
            left: 26px;
            width: 40px;
            height: 10px;
            display: block;
            transform: rotate(-35deg);
            float: right;
            border-radius: 2px;
            &::after {
                content: "";
                background-color: $white;
                width: 40px;
                height: 10px;
                display: block;
                float: right;
                border-radius: 10px 6px 6px 10px;
                transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
            }

        }
        &:hover {
            transform: scale(1.2);
            transition: all 0.4s;
            -webkit-transition: all 0.4s  
        }    
    }

}
#competetion {
    min-height: 100vh;
    background-color: $blue;
    .skills-box {
        background-image: $blue;
        color: $white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(0, 0, 0, 0.25);
        min-height: 240px;
        img {
            width: 30%;
            margin-bottom: 15px;
            &:hover {
                transform: scale(1.2);
                transition: all 0.4s;
                -webkit-transition: all 0.4s  
            }   
        }
        .skills-box-title {
            font-size: 32px;
            font-weight: bold;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .skills-box-description {
            font-size: 20px;
        }
    }
}
#portfolio {
    min-height: 100vh;
    background-image: $gradient;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
  }